  
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  margin-top: 60px;
  margin-bottom: 40px;
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--mainWhite);
  overflow: auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  padding: 12px;
	/* text-decoration: none; */
}
a:active {
  display: table-cell;
  /* position: absolute; */
  color: var(--primaryColor);
  transform: translateY(2%);
}
a:visited {
  color: var(--mainBlack);
  text-decoration: none;
}
/* END RESET*/

:root {
  --primaryColor: #aca5b3;
  --mainWhite: rgb(255, 249, 224);
  --offWhite: #f1eace;
  --uBlue: #00b7ff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --colorTransition: color 0.3s linear;
  --allTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --navMenuWidth: 600px;
  --bodyHeight: calc(100vh - 90px);
}

.loading {
  height: var(--bodyHeight);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline {
  position: absolute;
  top: 0;
  width:0%;
  height: 5px;
  margin: 0;
  border: none;
  background-color: var(--uBlue);
  transition: .3s ease-in-out;
  visibility: collapse;
}

.one:hover ~ .underline{
  margin-left: 0;
  width: 25%;
  visibility: visible;
}

.two:hover ~ .underline {
  width: 25%;
  margin-left: 25%;
  visibility: visible;
}

.three:hover ~ .underline {
  width: 25%;
  margin-left: 50%;
  visibility: visible;
}

.four:hover ~ .underline {
  width: 25%;
  margin-left: 75%;
  visibility: visible;
}
/* 
.one:active ~ .underline {
  visibility: visible;
  transform: translateY(50px);
  transition:  .08s linear;
  height:10px;
  width: 25%;
  margin-left: 0%;
}

.two:active ~ .underline {
  visibility: visible;
  transform: translateY(50px);
  transition:  .08s linear;
  height:10px;
  width: 25%;
  margin-left: 25%;
}

.three:active ~ .underline {
  visibility: visible;
  transform: translateY(50px);
  transition:  .08s linear;
  height:10px;
  width: 25%;
  margin-left: 50%;
}

.four:active ~ .underline {
  visibility: visible;
  transform: translateY(50px);
  transition:  .08s linear;
  height:10px;
  width: 25%;
  margin-left: 75%;
}
 */

/* 
a ~ .underline {
  width: 25%;
  margin-left: 0%;
  visibility: visible;
}


.two:focus-within ~ .underline {
  width: 25%;
  margin-left: 25%;
  visibility: visible;
}

.three:focus-within ~ .underline {
  width: 25%;
  margin-left: 50%;
  visibility: visible;
}

.four:focus-within ~ .underline {
  width: 25%;
  margin-left: 75%;
  visibility: visible;
} */


.navbar  {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: var(--offWhite);
  z-index: 1;
  background-image: linear-gradient(120deg, #696969 0%, #e8fdff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.1em;
  background-position: 0 100%;
  transition: background-size 0.25s ease-in;
}

.nav-logo {
  display: inline-block;
  vertical-align: middle;
}

.nav {
  position: fixed;
  display: inline-block;
  vertical-align: middle;
  width: var(--navMenuWidth);
}

.nav-logo img {
  filter:grayscale(90%);
  transition: all .3s linear;
  padding-left: 20px;
  padding-right: 20px;
  width: 50px;
  height: 50px;
}

.nav-logo img:hover {
  filter:grayscale(0%);
}

.nav-links ul {
  display: table;
  height:50px;
  list-style-type: none;
  width: var(--navMenuWidth);
}

.nav-links a {
  text-decoration: none;
  color: var(--mainBlack);
  transition: var(--colorTransition);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  width: 25%;
}

.nav-links a:hover:not(.active-link) {
  color: var(--primaryColor);
}

/* a:active ~ .underline {
  visibility: visible;
  width: 25%;
  height: 100%;
} */

a.active-link {
  color: var(--uBlue);
  text-shadow: var(--darkShadow);
}

.nav-links li {
  height:50px;
  width:150px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.project-tile {
  display: inline-block;
}

.project-tile img{
  display: inline-block;
  filter:grayscale(95%);
  transition: var(--allTransition);
  margin:20px;
  height: 225px;
  width:320px;
  border: solid 5px rgb(59, 59, 59);
}

.project-tile img:hover {
  filter:grayscale(0%)
}

.project-list {
  height: var(--bodyHeight);
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-list-content {
  text-align: center;
}

.project-tile-content-container {
  width: 400px;
  margin-left: 25px;
  margin-right: 25px;
}

.project-tile-title h2 {
  font-size: x-large;
  font-weight: 600;
  margin: 12px;
  text-align: center;
}

.project-tile-content-container a {
  color:var(--mainBlack);
  font-size: large;
  font-weight: 500;
  display: inline-block;
  margin: 12px;
  text-decoration: none;
}

.project-tile-content-container a:hover {
  color: var(--primaryColor);
}

.skill-tile {
  margin: 18px 12px 18px 12px;
  display: inline-block;
}

.skill-tile-title {
  font-size: large;
  font-weight: 500;
}

.skill-tile img {
  filter: grayscale(85%);
  filter: contrast(70%);
  height:100px;
  width:100px;
  margin-bottom: 24px;
  transition: var(--allTransition);
}

.skill-tile img:hover {
  filter: grayscale(0%);
  filter: contrast(100%);
}

.skill-list {
  height: var(--bodyHeight);
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-list-content {
  text-align: center;
}

.skill-tile-content-container {
  width: 175px;
}

.r1{ width:10%; }
.r2{ width:20%; }
.r3{ width:30%; }
.r4{ width:40%; }
.r5{ width:50%; }
.r6{ width:60%; }
.r7{ width:70%; }
.r8{ width:80%; }
.r9{ width:90%; }
.r10{ width:100%; }

.c1{ background: rgb(83, 88, 88);  }
.c2{ background:  rgb(74, 91, 94); }
.c3{ background: rgb(82, 113, 117); }
.c4{ background: rgb(69, 112, 119); }
.c5{ background: rgb(91, 151, 160); }
.c6{ background: rgb(75, 151, 163);  }
.c7{ background: rgb(78, 167, 180);  }
.c8{ background: rgb(98, 177, 189); }
.c9{ background: rgb(83, 206, 224); }
.c10{ background: rgb(1, 221, 255); }

.rating-bar span{
  display:block;
  height:3px;
}

.rating-bar{
  background:rgba(116, 116, 116, 0.158);
  padding:.3px;
  margin:18px;
}

.animate-rating-bar{
  animation: progress 2s linear;
  -moz-animation: progress 2s linear;
  -webkit-animation: progress 2s linear;
  -ms-animation: progress 2s linear;
  -o-animation: progress 2s linear;
}

footer {
  position: fixed;
  display: inline-block;
  bottom: 0;
  height: 40px;
  width: 100%;
  background: var(--offWhite);
  z-index: 1;
}

@-webkit-keyframes progress {
  from { 
    background: rgb(71, 71, 71);
    width:0% }
  to { width:100%; }
}
@-moz-keyframes progress {
  from { 
    background: rgb(71, 71, 71);
    width:0% }
  to { width:100%; }
}
@-ms-keyframes progress {
  from { 
    background: rgb(71, 71, 71);
    width:0% }
  to { width:100%; }
}
@-o-keyframes progress {
  from { 
    background: rgb(71, 71, 71);
    width:0% }
  to { width:100%; }
}
@keyframes progress {
  from { 
    background: rgb(71, 71, 71);
    width:0% }
  to { width:100%; }
}

@media screen and (max-width: 700px) {
  .project-list {
    height: auto;
  }

  .skill-list {
    height: auto;
  }

  .nav {
    width: 450px;
  }

  .nav li {
    width: 1rem;
  }

  .nav a {
    font-size: large;
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-exit {
  opacity: 1;
}

.example-exit.example-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}